<?xml version="1.0" encoding="UTF-8"?>
 
<module xmlns="urn:jboss:module:1.1" name="com.vaadin">
 
 
 
    <resources>
        <resource-root path="vaadin-client-7.5.4.jar"/>
        <resource-root path="vaadin-client-compiled-7.5.4.jar"/>
        <resource-root path="vaadin-server-7.5.4.jar"/>
        <resource-root path="vaadin-sass-compiler-0.9.12.jar"/>
        <resource-root path="vaadin-shared-7.5.4.jar"/>
        <resource-root path="vaadin-themes-7.5.4.jar"/>

        <resource-root path="deltaspike-core-api-1.4.1.jar"/>
        <resource-root path="deltaspike-core-impl-1.4.1.jar"/>
        <resource-root path="flute-1.3.0.gg2.jar"/>
        <resource-root path="guava-16.0.1.vaadin1.jar"/>
        <resource-root path="jsoup-1.8.1.jar"/>
        <resource-root path="sac-1.3.jar"/>
        <resource-root path="streamhtmlparser-jsilver-0.0.10.vaadin1.jar"/>
       
    </resources>
 
    <dependencies>
         <module name="javax.api"/>
  <module name="javaee.api"/>

    </dependencies>
</module>
